@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <section id="read-more" class="px-5">

        <div class="container-fluid shadow " style=" padding:0px;">
            <div class="row">
                <div class="col-md-8">
                    <div class="border" style="height: 500px; overflow: hidden">
                        <img style="object-fit:  contain" src="~/Images/slider1.png" />
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- <form action="#">
                      <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"
                            >Email address</label
                          >
                          <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                          />
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label"
                            >Password</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword1"
                          />
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </form> -->

                </div>
            </div>
        </div>



        <div class="advertisement shadow mt-5">
            <img src="~/Images/advertise.gif"
                 class="h-full border border-black border-4"
                 style="width: 93vw; max-width: 100%;" />
        </div>
        <!-- div for cards -->

        <div class="container-fluid mt-5">
            <div class="row d-flex" style="justify-content:center;">
                <div class="col-md-10 d-flex">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="card shadow"
                                 style="width: 18rem; padding: 4rem 2rem 1rem 2rem">
                                <div class="col-lg-4 card-circle ">
                                    <img height="50px" width="50px" src="~/Images/Logo.png" />
                                </div>
                                <p class="text-center" style="font-family: Poppins; font-weight: 700; font-size: large;">Paper</p>
                                <img src="~/Images/shutterstock_325297622.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <p class="text-center mt-3" style="font-family: Poppins; font-weight: 700; font-size: small;">Rs 30 per kg</p>
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="card shadow"
                                 style="width: 18rem; padding: 4rem 2rem 1rem 2rem">
                                <div class="col-lg-4 card-circle ">
                                    <img height="50px" width="50px" src="~/Images/Logo.png" />
                                </div>
                                <p class="text-center" style="font-family: Poppins; font-weight: 700; font-size: large;">Metals</p>
                                <img src="~/Images/shutterstock_325297622.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <p class="text-center mt-3" style="font-family: Poppins; font-weight: 700; font-size: small;">Rs 100 per kg</p>
                            </div>

                        </div>


                        <div class="col-md-3">
                            <div class="card shadow"
                                 style="width: 18rem; padding: 4rem 2rem 1rem 2rem">
                                <div class="col-lg-4 card-circle ">
                                    <img height="50px" width="50px" src="~/Images/Logo.png" />
                                </div>
                                <p class="text-center" style="font-family: Poppins; font-weight: 700; font-size: large;">Bottles</p>
                                <img src="~/Images/shutterstock_325297622.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <p class="text-center mt-3" style="font-family: Poppins; font-weight: 700; font-size: small;">Rs 5 per pieces</p>
                            </div>

                        </div>


                        <div class="col-md-3">
                            <div class="card shadow"
                                 style="width: 18rem; padding: 4rem 2rem 1rem 2rem">
                                <div class="col-lg-4 card-circle ">
                                    <img height="50px" width="50px" src="~/Images/Logo.png" />
                                </div>
                                <p class="text-center" style="font-family: Poppins; font-weight: 700; font-size: large;">Plastics</p>
                                <img src="~/Images/shutterstock_325297622.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <p class="text-center mt-3" style="font-family: Poppins; font-weight: 700; font-size: small;">Rs 40 per kg</p>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>



        <div class="d-flex my-4" style="justify-content: center;">
            <div class="col-md-8 my-2">
                <h2 class="text-center" style="font-family: Poppins; font-weight: 400; font-size: x-large;">BUY SUCH CATEGORY</h2>
                <div style="font-family: Poppins; font-weight: 300; font-size: large;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae amet nisi assumenda possimus dolor,
                    placeat harum odio corrupti odit quia dolore laboriosam eaque sed illum ea repellendus qui minus dicta?
                </div>

            </div>


        </div>

        <div class="container-fluid shadow mt-5 p-4" style="background-color: #30b380; ">
            <h4 style="font-family: Poppins; font-weight: 600; font-size: x-large;">About</h4>
            <div class="d-flex" style="align-items: center;min-height: 200px;">


                <p style="font-family: Poppins; font-weight: 400; font-size: medium;">
                    Reuse Waste management refers to the systematic collection, transportation, processing, recycling, and disposal of various types of waste materials generated by human activities. It involves a comprehensive approach to minimize the environmental and health impacts of waste by promoting responsible practices. This process typically includes source reduction, where waste generation is minimized at the source through practices like recycling and reusing materials. Additionally, waste management encompasses the safe and efficient collection of waste, followed by proper sorting, treatment, and disposal methods, depending on the type of waste, with an increasing emphasis on recycling and sustainable waste-to-energy technologies to reduce landfill usage. Effective waste management is essential for preserving environmental quality, public health, and resource conservation, making it a critical component of sustainable development strategies worldwide.
                </p>
            </div>
        </div>

        <div class="container-fluid shadow mt-5 p-4 " style="border:1px solid #30b380;">
            <h4 style="font-family: Poppins; font-weight: 600; font-size: x-large;">Services</h4>
            <div class="d-flex" style="align-items: center;min-height: 200px;">


                <p style="font-family: Poppins; font-weight: 400; font-size: medium;">
                    Reuse waste management system services encompass a comprehensive range of activities aimed at the efficient and environmentally responsible handling, collection, transportation, treatment, recycling, and disposal of various types of waste materials. These services typically include curbside or on-site waste collection, sorting and separation of recyclables, hazardous waste disposal, landfill management, composting, and waste-to-energy facilities. Waste management companies collaborate with municipalities, businesses, and industries to implement waste reduction strategies, promote recycling programs, and ensure compliance with environmental regulations. They also play a crucial role in minimizing the environmental impact of waste by promoting sustainable practices, minimizing landfill use, and fostering the conversion of waste into valuable resources through recycling and energy recovery initiatives
                </p>
            </div>
        </div>

        <div class="container-fluid shadow mt-4 p-4" style="background-color: #30b380; ">
            <h4 style="font-family: Poppins; font-weight: 600; font-size: x-large;">How It Works</h4>
            <div class="d-flex" style="align-items: center;min-height: 200px;">


                <p style="font-family: Poppins; font-weight: 400; font-size: medium;">
                    Waste management involves a systematic process of collecting, transporting, processing, and disposing of waste materials to minimize environmental and health impacts. It begins with waste collection at the source, such as households, businesses, or industrial sites, where waste is sorted into recyclables, non-recyclables, and hazardous materials. Collected waste is then transported to treatment facilities, including recycling centers, composting sites, or waste-to-energy plants, where it undergoes processing to recover resources or reduce its volume. Hazardous waste is treated separately to ensure safe disposal. Finally, remaining waste may be landfilled or subjected to other disposal methods, all while adhering to regulatory and environmental standards. Effective waste management aims to reduce waste generation, promote recycling, and minimize the adverse effects of waste on communities and the environment.
                </p>
            </div>
        </div>

    </section>
</main>
